body {
    background-color: #e8ebee;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-blue {
    background-color: #4078a6;
    color: white;
}

.container {
    display: flex;
    max-width: 960px;
    margin: auto;
}

.VK {
    width: 25%;
}

.search {
    width: 75%;
    margin: 22px;
}

.search_input {
    background-color: rgba(175, 148, 144, 0.805);;
    border: 1px solid black;
    border-radius: 30px;
}

.buttons { 
    width: 120px;
    background-color: #e8ebee;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    padding-top: 10px;
    margin: left;
}

.buttons button {
    background-color: #e8ebee;
    border: #e8ebee;
}


.container2 {
    height: 250px;
    width: 250px;
    background-color: white;
    margin-left: 50px;
}

.knopka {
    margin: 10px 45px;
}

.friends {
    width: 250px;
    height: 170px;
    margin-left: -250px;
    margin-top: 300px;
    background-color: white;
}

.avatarki {
}
