body {
    background: white;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.first {
    width: 70%; 
    margin: 0 auto;
}

.bg-red {
    background-color: rgb(187, 33, 33);
    color: white;
    background-size: 30px 30px;
    margin: auto;
}

.bg-blue {
    background-color: rgb(57, 57, 138);
    margin: auto;
}

.news {
    width: 75%;
}

.button {
    display: flex;
    width: 25%;
    padding: 10px;
    margin-left: 50%;
}

.image1 {
    width: 40%;
    margin-left: 10px;
}

.text {
    width: 60%;
    padding: 10px;
    margin-left: 1%;
}

.button > button {
    background-color: rgb(187, 33, 33);
    color: grey;
    border: none;
}

.container {
    display: flex;
    max-width: 960px;
    margin: auto;
    padding: 0.5px 10px;
}

.container2 {
    display: flex;
    max-width: 960px;
    margin: auto;
    padding: 10px 1px;
}

.container3 {
    display: flex;
    max-width: 960px;
    margin: auto;
    padding-left: 20px;
}

.container div {
    margin-right: 20px;
}

.image {
    width: 220px;
    height: 200px;
    overflow: hidden;
    margin: auto;
}

.image123 {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 12.5px;
}

.b1 {
    width: 25%;
    margin: auto;
}

.b2 {
    width: 25%;
    margin: auto;
}

.b3 {
    width: 25%;
    margin: auto;
}

.b4 {
    width: 25%;
    margin: auto;
}

.center {
    text-align: center;
}

